.news-widget {
  margin-bottom: 7px;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  .summary-item {
    font-size: 1em;
    .summary {
      cursor: pointer;
      padding: 15px;
      min-width: 218px;
      background-color: #fff;
      figure {
        vertical-align: middle;
        margin: 0 1% 0 0;
        display: inline-block;
        width: 15%;
        img {
          border-radius: 50%;
          width: 100%;
        }
        p {
          font-size: 0.8em;
        }
      }
      figcaption {
        display: inline-block;
        width: 75%;
        vertical-align: middle;
      }
    }

    .detail {
      margin: 5px 0 0 0;
      background-color: #fff;
      &.collapse {
        display: none;
      }
      figure {
        margin: 0 5px 0 0;
        vertical-align: top;
        width: 30%;
        display: inline-block;
        img {
          width: 100%;
        }
      }
      article {
        display: inline-block;
        width: 60%;
        padding: 0 15px 15px;
      }
    }
  }

}

@media only screen and (max-width: 500px) {
  .news-widget {
    .summary-item {
      .summary {
        figure {
          margin: 0 3% 0 0;
        }
        figcaption {
          p {
            font-size: 0.85em;
          }
        }
      }

      .detail {
        article {
          width: 58%;
          h3 {
            font-size: 0.85em;
          }

          p {
            font-size: 0.9em;
          }
        }
      }
    }

  }

}

@media only screen and (max-width: 1200px) {
  .news-widget {
    .summary-item {
      .summary {
         figcaption {
          p {
            font-size: 1.7em;
          }
        }
      }

    }

  }

}