.markwebleys-notes {
  h4 {
    font-size: 1.7em;
    margin: 35px 0 0 0;
  }
  h5 {
    font-weight: bold;
    margin: 26px 0 5px;
  }

  p {
    margin-bottom: 15px;
  }
}


.widget-panel {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  margin: 0 15px 15px 0;
  min-width: 350px;
 .widget-panel_header {
    width: 100%;
    height: 75px;
    background: #ff785e;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 21px 5%;
    color: #fff;
    .widget-panel_hamburger-menu {
      width: 53px;
      height: 40px;
      font-size: 3.5em;
      margin-right: 15px;
      vertical-align: middle;
      display: inline-block;
      span {
        display: block;
        background: #fff;
        border-radius: 5px;
        width: 100%;
        padding: 0;
        height: 10px;
        margin: 0 0 9px 0;
      }
    }

    p {
       margin: 0 0 25px;
       display: inline-block;
       font-size: 1.5em;
     }
  }
  .widget-panel_container {
    /* padding: 25px 64px; */
    padding: 3% 7%;
    background: #c7c7c7;
  }
}

@media only screen and (max-width: 500px) {
  .widget-panel {
    .widget-panel_header {
      .widget-panel_hamburger-menu {
        width: 32px;
      }
        p {
          font-size: 1.2em;
        }
    }
  }
}

