/**
* @description  path and directories
*/
$common:     "../../js/components/common/";
$mobile:     "../../js/components/mobile/";
$desktop:    "../../js/components/desktop/";
$fontPath:   "../../fonts/";
$imagePath:  "../../images/";

/**
* @description  site breakpoint
*/
$tablet:      600px;

/**
* @description  site dimensions
*/
$site-min-width:    300px;
$site-max-width:    1200px;

/**
* @description  site state brand colours
*/
$selected-font-color:           #ffffff;
$selected-background-color:     #000;
$unselected-font-color:         #ffffff;
$unselected-background-color:   #000;