.news-widget .summary-item .summary {
  background-color: #2aabd2; }

.news-widget .summary-item .summary figure img {
  border-radius: 50%;
  width: 70px;
  height: 70px; }

.news-widget .summary-item .detail {
  background-color: #00A000; }

.news-widget .summary-item .detail figure img {
  width: 120px; }
