<div class="news-widget row bounceInLeft animated" tabindex="1">
    <section class="summary-item">
        <div class="summary"  ng-click="expandToggle($event)" aria-describedby="gability-news-body-text">
            <figure>
                <img ng-src="{{news.image}}" alt="{{news.title}}" />
            </figure>
            <figcaption id="gability-news-body-text">
                <p>{{news.title}}</p>
            </figcaption>
        </div>
        <div class="detail collapse">
            <figure>
                <img ng-src="{{news.image}}" alt="{{news.title}}" />
            </figure>
            <article>
                <h3>{{news.title}}</h3>
                <p>{{news.content}}</p>
            </article>
        </div>
    </section>
</div>