<div class="container">
    <section class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <section class="widget-panel bounceInUp animated" ng-controller="newsFeedCtrl">
                <div class="widget-panel_header">
                    <div class="widget-panel_hamburger-menu">
                        <span></span>
                        <span></span>
                    </div>
                    <p>dynamic panel header title</p>
                </div>
                <section class="widget-panel_container">
                    <!-- <div news-dir news="newsData"></div>  -->
                    <!-- <div news-collection-dir newslist="newsItem"></div> TODO AS COLLECTION INSTEAD-->
                    <div ng-repeat="newsItem in dataList">
                        <div news-dir news="newsItem"></div>
                    </div>
                </section>
            </section>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
            <section class="widget-panel bounceInUp animated" ng-controller="newsFeedCtrl">
                <div class="widget-panel_header">
                    <div class="widget-panel_hamburger-menu">
                        <span></span>
                        <span></span>
                    </div>
                    <p>dynamic panel header title</p>
                </div>
                <section class="widget-panel_container">
                    <!-- <div news-dir news="newsData"></div>  -->
                    <!-- <div news-collection-dir newslist="newsItem"></div> TODO AS COLLECTION INSTEAD-->
                    <div ng-repeat="newsItem in dataList">
                        <div news-dir news="newsItem"></div>
                    </div>
                </section>
            </section>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
            <section class="widget-panel bounceInUp animated" ng-controller="newsFeedCtrl">
                <div class="widget-panel_header">
                    <div class="widget-panel_hamburger-menu">
                        <span></span>
                        <span></span>
                    </div>
                    <p>dynamic panel header title</p>
                </div>
                <section class="widget-panel_container">
                    <!-- <div news-dir news="newsData"></div>  -->
                    <!-- <div news-collection-dir newslist="newsItem"></div> TODO AS COLLECTION INSTEAD-->
                    <div ng-repeat="newsItem in dataList">
                        <div news-dir news="newsItem"></div>
                    </div>
                </section>
            </section>
        </div>
    </section>


    <section class="row">
        <div class="col-xs-12 col-sm-6 col-lg-6">
            <section class="widget-panel bounceInUp animated" ng-controller="newsFeedCtrl">
                <div class="widget-panel_header">
                    <div class="widget-panel_hamburger-menu">
                        <span></span>
                        <span></span>
                    </div>
                    <p>dynamic panel header title</p>
                </div>
                <section class="widget-panel_container">
                    <!-- <div news-dir news="newsData"></div>  -->
                    <!-- <div news-collection-dir newslist="newsItem"></div> TODO AS COLLECTION INSTEAD-->
                    <div ng-repeat="newsItem in dataList">
                        <div news-dir news="newsItem"></div>
                    </div>
                </section>
            </section>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-6">
            <section class="widget-panel" ng-controller="newsFeedCtrl">
                <div class="widget-panel_header">
                    <div class="widget-panel_hamburger-menu">
                        <span></span>
                        <span></span>
                    </div>
                    <p>dynamic panel header title</p>
                </div>
                <section class="widget-panel_container">
                    <!-- <div news-dir news="newsData"></div>  -->
                    <!-- <div news-collection-dir newslist="newsItem"></div> TODO AS COLLECTION INSTEAD-->
                    <div ng-repeat="newsItem in dataList">
                        <div news-dir news="newsItem"></div>
                    </div>
                </section>
            </section>
        </div>
    </section>

    <section class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <section class="widget-panel" ng-controller="newsFeedCtrl">
                <div class="widget-panel_header">
                    <div class="widget-panel_hamburger-menu">
                        <span></span>
                        <span></span>
                    </div>
                    <p>dynamic panel header title</p>
                </div>
                <section class="widget-panel_container">
                    <!-- <div news-dir news="newsData"></div>  -->
                    <!-- <div news-collection-dir newslist="newsItem"></div> TODO AS COLLECTION INSTEAD-->
                    <div ng-repeat="newsItem in dataList">
                        <div news-dir news="newsItem"></div>
                    </div>
                </section>
            </section>
        </div>
    </section>

</div>