<section class="widget-panel" ng-controller="newsFeedCtrl">
    <div class="widget-panel_header">
        <div class="widget-panel_hamburger-menu">
            <span></span>
            <span></span>
        </div>
        <p>dynamic panel header title</p>
    </div>
    <section class="widget-panel_container">
        <!-- <div news-dir news="newsData"></div>  -->
        <!-- <div news-collection-dir newslist="newsItem"></div> TODO AS COLLECTION INSTEAD-->
        <div ng-repeat="newsItem in dataList" class="bounceInLeft animated">
            <div news-dir news="newsItem"></div>
        </div>
    </section>
</section>
